[user]
   name = Stephen Akridge
   email = sakridge@gmail.com
[color]
   ui = auto
[core]
   excludesfile = ~/.gitignore_global
   editor=vim
[alias]
   tree=log --graph --decorate --pretty=format:'%h was %ae, %ar, message: %s' --abbrev-commit
   d=difftool
   bvv=branch -vv
   s=status -uno
   lu=log @{u}..
   lup=log -p @{u}..
   co=checkout
[diff]
   tool=vimdiff
[difftool]
   prompt=False

